<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pretty Slide</title>
    <link rel="stylesheet" href="pretty_table.css">
</head>
<body>
#app
 lazy_table(v-bind:table_data="slide_data",
   :rows="config")


template#template_lazy_table
 .divv
  h1 从Firebase获得的KEY
  pre {{keys}}
  h1 搜索+分页展示(Instant Search + Paging)
  .input-group 搜索 
  input(v-model="search_key") 
  table.table
   thead
    th(v-for="key in keys") {{change_name(key)}}
   tbody
    tr(v-for="row in sliced_table_data")
     td(v-for="key in keys")
      span {{row[key]}}
      
  button.btn.btn-default(v-for="p in (page_count+1)" @click="page_index=p-1") {{p}}
  h1 从Firebase获得的DATA
  pre {{table_data}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="pretty_table.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>